<div class="container-sivimss px-5 registro-en-linea my-5">
    <app-titulo-principal titulo="REGISTRARSE EN LÍNEA"></app-titulo-principal>
    <div class="flex justify-content-end align-items-center mb-5">
        <span>¿Tienes cuenta?</span>
        <button class="btn btn-primary btn-sm ml-5" routerLink="../autenticacion/inicio-sesion">Iniciar sesión</button>
    </div>
    <div class="border-panel"> 
        <h2 class="subtitulo-base">Datos generales</h2>
        <!-- Tomar los ejemplos de datos-contratante para generar formulario :) -->
        <!-- Ordenes de servicio tiene todo -->
    </div>
</div>